<!DOCTYPE html>
<html>
<head>
  <title>PayPal Payment</title>
</head>
<body>
  <h1>اشترِ منتج بـ 10 دولار</h1>
  <form action="/transactions/create-order" method="POST">
    <button type="submit">ادفع باستخدام PayPal</button>
  </form>
</body>
</html>
